.home-content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  background-color: #f4f4f9;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  width: 100vw;
  background-color: #ffffff;
  padding: 24px 120px;
  box-sizing: border-box;
}

.logo-navbar {
  width: 24px;
  height: auto;
}

.navbar-calendar-container {
  display: flex;
  width: 260px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input-calendar {
  height: 42px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  width: auto;
}

.navbar-user-container {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.navbar-user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  border-radius: 24px;
  background-color: #8bee80;
}

.finance-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 24px 0px;
  box-sizing: border-box;
}

.finance-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60vw;
  border-radius: 24px;
  background-color: #ffffff;
  padding: 0px 30px;
  border-style: outset;
}

.finance-content {
  display: flex;
  flex-direction: row;
  width: 80vw;
  column-gap: 30px;
}

.finance-card-right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 84%;
  border-radius: 24px;
  background-color: #ffffff;
  padding: 10px 30px;
  border-style: outset;
}

.table-container {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.table-content-container {
  display: flex;
  width: 80%;
  height: 60vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
  border-radius: 24px;
  padding: 24px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.table-content-container-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  column-gap: 20px;
}

.table-content-container-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  margin: 0px 20px 20px 20px;
}

.table-content-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

table {
  width: 100%;
}

th {
  text-align: left;
  color: #7c7c7c;
}

th.right {
  text-align: right;
}

th.center {
  text-align: center;
}

td.right {
  text-align: right;
}

td.center {
  text-align: center;
}

tr {
  height: 30px;
}

tr:nth-child(even) {
  background: #d6d5d5;
}

td {
  padding-left: 5px;
}

h3.font {
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.modal-background {
  display: none;
  flex-direction: column;
  align-items: end;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(1, 4, 0, 0.2);
}

.modal-content {
  width: 480px;
  height: 100%;
  background-color: #f4f4f9;
  padding: 24px;
  box-sizing: border-box;
}

.modal-content-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
